<MarketplaceDetails>
  <SmallAppTile>myfavmovstoretile.png</SmallAppTile>
  <ScreenShots>1wv.png;2wv.png;3wv.png;;;;;;</ScreenShots>
  <ScreenShotsWXGA>1.png;2.png;3.png;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>wp_ss_20130324_0003.png;wp_ss_20130324_0006.png;wp_ss_20130324_0008.png;wp_ss_20130324_0009.png;wp_ss_20130324_0016.png;wp_ss_20130324_0013.png;;;</ScreenShots720P>
</MarketplaceDetails>